* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'monospace';
}
body {
    background-color: #a60303;

/* Top Nav Bar begins below.*/   
}
#navbar__top {
    display: flex;
    height: 80px;
    justify-content: flex-end;
    background-color: black;
}
.logo {
    position: absolute;
    background: blue;
}
svg {
    float: left;
    width: 80px;
    height: 80px;
}
.nav-bar-inner {
    display: flex;
    align-items: center; 
    width: auto;
    height: auto;
    justify-content: flex-end;
}
.site-nav-menu-item {
    display: inline;
    display: flex;
    text-decoration: none;    
    margin-right:20px;
}
#side__nav {
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
h2 {
    letter-spacing: 2px;
}

/* footer begins below.*/
footer {
    width: 100vw;
    height: auto;
    margin-bottom: px;
    background: black;
}
.footer-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.half-container {
    display: inline-block;
    margin: auto; 
}
.footer-item a h2 {

    color: coral;
}
.footer-item {
    display: inline-block;
    margin: 40px;  
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}
.footer, .push {
    height: 50px;
}

