* {
    padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva,
      Verdana, sans-serif;
}
/* Styling for the Business page is at +- line 50. */
/* Styling for the hosting page is at +- line 100.*/
/* Styling for the design page is at +- line 150. */
/* Styling for the contact page is at +- line 200. */
/* Styling for the about page is at +- line 250. */
/* Styling for media queries is at +- line 300. */


/* The following section is for styling that appears in all pages.*/
.main {
/* This entry regulates the left side of every page. */
    display: inline-block;
    background-color: #a60303;
    height: 200vh;
    width: 70%;
    position: relative;
}
.navbar {
 /* This entry regulates the right side of every page. */
    float: right;
    background-color: black;
    height: 200vh;
    width: 30%;
}
        .navi {
            display: block;
            height: 25vh;
            color: white;
            position: relative;
        }
        #item {
            position: absolute;
            margin-left: -40px;
            margin-top: -6px;
            top: 50%;
            left: 50%;
            text-align: center;
        }
        h1 {
            font-size: 48px;
            font-family: Impact,  'Arial Narrow Bold', sans-serif;
        }
        h2 {
            font-size: 16pt;
            letter-spacing: 2px;
            color: white;
        }
        h3 {
            font-size: 16pt;
            letter-spacing: 2px;
            color: white;
        }
    



/* This section is for the main business page. */

.Bus_name_container {

    width: 100%;
    height: 300px;
}
.Bus_name {
    display: block;
    float: left;
    width: 100%;
    padding-left: 7%;
    margin-top: 200px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.byline {
    display: block;
    margin-left: 7%;
    margin-bottom: 20px;
    letter-spacing: 5px;
    width: 280px;
}


.filler {
    display: block;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-right: 100%;
}
.vision {
    margin-left: 7%;
    display: inline-block;
    width: 200px;
}







/* Theis section is for the Hosting page. */

.article_container {
    top: 300px;
    display: block;
    width: 100%;

}

.articles {
    display: inline-block;
}

.quote {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin: 90% 18% 0;
    top: 80%;
    color: black;
    letter-spacing: 3px;
}
#quote2 {
    margin-top: 50%;
}

/* end of the Hosting Page. */

























/* This section is for the Design page. */

.vision_statement {
    color: black;
    text-align: left;
    margin: auto;
}
.grid_container {
    display: grid;
    grid-template-columns:  auto 300px auto;
    grid-template-rows: 0px 300px 250px 100px 50px;
    row-gap: 100px;
}
/* rad_300 */
    #rad_300 {
        position: relative;
        width: 100%;
        height: 100%;
        border: 3px solid black;
        border-radius: 50%;
        background: black;
    }
    #image300 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 10;
    }
    .circle_title_rad300 {

        margin-bottom: 60px;
        margin: 0px auto 60px auto;
 

        color: black;
    }

/* rad_250 */
    #rad_250 {
        position: relative;
        width: 83.333%;
        height: 100%;
        border: 3px solid black;
        border-radius: 50%;
        background-color: black;
        margin: auto;
    }
    #image250 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 10;
    }
    .circle_title_rad250 {
        position: absolute;
        left: 50%;
        margin-left: -28px;
        margin-top: 25px;
        color: white;
    }


.circle_title {
    position: absolute;
    left: 50%;
    margin-left: -28px;
    margin-top: 25px;
    color: white;
}

/* End of the Design page. */

















































































@media only screen and (max-width: 460px){
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 12px;
        margin: 0 0 0 8px;  
    }
    h3 {
        font-size: 12px;
        margin: 0 0 0 8px; 
    }
}
@media only screen and (min-width: 460px){
    .quote {
    margin-left: 35%;
    }
    .main {
        height: 400vh;
    }
    .navbar {
        height: 400vh;        
    }
    .container {
        height: 400vh;
    }
}